<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Drowsiness Detection</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>
	<body>
		<main>
			<h1>Driver Drowsiness Detection</h1>
			<div class="container">
				<video id="video" autoplay playsinline></video>

				<div id="alert" class="alert">⚠️ DROWSINESS DETECTED!</div>

				<div class="status-box">
					EAR: <span id="earValue">--</span><br />
					Status: <span id="status">Awake</span>
				</div>
			</div>
		</main>
		<div class="footer">
			Developed by
			<a
				href="https://github.com/alfa-echo-niner-ait?tab=repositories"
				target="_blank"
				>alfa-echo-niner-ait
			</a>
		</div>

		<audio
			id="alarm"
			src="{{ url_for('static', filename='alarm.wav') }}"
			preload="auto"
		></audio>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>
